* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --gap: 0.5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
.btn-load-more.is-hidden {
  display: none;
}

.search-wrapper {
  width: 100%;
  padding: 10px;
  position: fixed;
  background-color: rgb(37, 37, 132);
  margin-top: 200px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 20%;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: white;
  padding: 10px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: none;
  background-color: rgb(180, 177, 177);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.gallery {
  width: 30vw;
  column-width: 2em;
  gap: var(--gap);
  transform: scale(9);
  will-change: transform;
  transition: transform 2s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s;
}

.gallery-item {
  margin-bottom: var(--gap);
  transform: scale(1.001);
  will-change: transform;
  transition: 0.3s;
}
.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-img {
  width: 100%;
  display: block;
}
.header {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: calc(var(--index) * 2.8);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: 0.9;
}
.header span {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.75);
  margin-top: 5px;
}
.visually-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.loaded .gallery {
  opacity: 1;
}
.loaded .header span {
  opacity: 0;
}
